body {
  background-color: purple;
}

#pageContentDiv{
  padding: 0px;
}

.btn-purple {
  color: #212529;
  background-color: #f5d0ff;
  border-color: #ddbaf6;
}

.m-tree>.m-node>.inner {
  display: none;
}

/* .project .mainBody #content img {
  width: 100%;
} */

.project .mainBody #content {
  word-wrap: break-word;
}
