.feedbackContainer {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  margin-bottom: 5px;
}

.feedbackHeader {
  font-size: 12px;
  color: #999;
}

.feedbackContent {
  font-size: 13px;
}

.feedbackReply {
  color: #777;
  font-size: 12px;
  font-weight: bold;
}

.feedbackReplyButton {
  cursor: pointer;
}

.feedbackReplyButton:hover {
  color: rgb(84, 11, 167);
}
