.project {
	.mainBody {
		margin-top: 30px;

		.sticky-top {
			position: sticky;
		}

		.tree {
			// position: fixed;
			// top: 0;
			// left: 0;
			// bottom: 0;
			// width: 300px;
			// overflow-x: hidden;
			overflow-y: auto;
			// background-color: #21252B;
			padding: 10px;
		}

		.m-node.placeholder {
			border: 1px dashed #1385e5;
		}

		.m-node .inner {
			color: black;
			font-size: 14px;
		}

		.m-node .node {
			display: inline-block;
			width: 100%;
			padding: 4px 5px;
		}

		.m-node .node.is-active {
			background-color: #dedede;
			border-radius: 3px;
		}

		.collapse:not(.show) {
			display: inherit !important;
		}

		#content {
			text-transform: none;
			font-family: inherit;
			margin-top: 5px;

			h1 {
				font-size: 22px;
				font-weight: bold;
			}

			h2 {
				font-size: 20px;
				font-weight: bold;
			}

			h3 {
				font-size: 18px;
				font-weight: bold;
			}

			h4 {
				font-size: 16px;
				font-weight: bold;
			}

			h5 {
				font-size: 16px;
				font-weight: bold;
			}

			h6 {
				font-size: 16px;
				font-weight: bold;
			}

			table {
				margin-bottom: 5px;

				th {
					white-space: nowrap;
					font-weight: bold;
					border-bottom: 1px solid #cdcdcd;
					padding: 5px;
				}

				td {
					border-bottom: 1px solid #cdcdcd;
					padding: 5px;
				}
			}
		}

		.sectionsCol {
			.artcleIconBar {
				margin-bottom: 10px;
			}

			.articleIcon {
				height: 20px;
				margin-right: 5px;
			}

			h1 {
				font-size: 14px;
				margin-bottom: 10px;
				font-style: italic;
			}

			#sections {
				.section {
					margin-bottom: 8px;
				}

				.sectionHighlight {
					border-left: 5px solid #8a289e;
					padding-left: 10px
				}
			}
		}

		#feedback {
			h1 {
				font-size: 22px;
				font-weight: bold;
				text-transform: capitalize;
			}
		}
	}

}